<!DOCTYPE html>
<html class="h-100">

<head>
    <title> Decimal-64 Floating Point Converter </title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/decimal-dense-bcd.js"></script>
    <script type="text/javascript" src="/js/dec64-floating-point-converter.js"></script>
    <script type="text/javascript" src="/js/calculator.js"></script>
</head>

<body>
    <div class="d-flex flex-row justify-content-center flex-fill">
        <div class="d-flex flex-column py-5">
            <div class="container-fluid shadow-sm p-2 d-flex flex-column align-self-center">
                <h1 class="text-center">Decimal-64 Floating Point Calculator</h1>
            </div>

            <br>

            <div class="d-flex flex-row flex-wrap p-5">
                <div class="flex-fill mx-4 mb-5 shadow-sm p-5 d-flex flex-column align-self-center" id="input-div">
                    <h2 class="text-center m-0">INPUT</h2>
                    <hr>
                    {{!-- INPUT --}}
                    <div class="row">
                        <div class="col-7 form-group my-3">
                            <label for="input-significand"><strong>Significand</strong></label>
                            <input type="text" class="form-control form-control-lg" id="input-significand">
                            <div id="input-significand-help" class="form-text">e.g. 127.0 in 127.0x10<sup>5</sup> or NaN</div>
                        </div>
                        <div class="col-5 form-group my-3">
                            <label for="input-exponent"><strong>Exponent (Base-10)</strong></label>
                            <input type="number" class="form-control form-control-lg" id="input-exponent">
                            <div id="input-exponent-help" class="form-text">e.g. 5 in 127.0x10<sup>5</sup></div>
                        </div>
                    </div>

                    <div>
                        <label><strong>Rounding Off Method</strong></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rounding" id="round-1" checked>
                            <label class="form-check-label" for="round-1">
                                Truncation
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rounding" id="round-2">
                            <label class="form-check-label" for="round-2">
                                Round-up or Ceiling
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rounding" id="round-3">
                            <label class="form-check-label" for="round-3">
                                Round-down or Floor
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rounding" id="round-4">
                            <label class="form-check-label" for="round-4">
                                Ties away from Zero
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rounding" id="round-5">
                            <label class="form-check-label" for="round-5">
                                Ties to Even
                            </label>
                        </div>
                        <div id="decimal-help" class="form-text">
                            chuchu
                        </div>
                    </div>

                    <br>
                    <button id="reset-button" onclick="loadExampleData()">Reset</button>
                </div>

                <div class="flex-fill mx-4 mb-5 shadow-sm p-5 d-flex flex-column align-self-center" id="output-div">
                    <h2 class="text-center m-0">OUTPUT</h2>
                    <hr>
                    {{!-- OUTPUT --}}
                    <h4 class="text-center m-0">Convert 
                        <span id="dec-preview">_____</span><sup id="exp-preview">__</sup> 
                        using 
                        <span id="rom-preview">Truncation</span> 
                        Round Off Method</h4>
                    <hr>
                    <div class="my-3">
                        <label><strong>Binary Representation</strong></label>
                        <div class="row px-2">
                            <input type="text" class="mx-1 col form-control-lg" id="binary-output-sign" disabled>
                            <input type="text" class="mx-1 col-2 form-control-lg" id="binary-output-comb" disabled>
                            <input type="text" class="mx-1 col-3 form-control-lg" id="binary-output-expo" disabled>
                            <input type="text" class="mx-1 col-6 form-control-lg" id="binary-output-coef" disabled>
                        </div>
                        <div class="row px-2">
                            <div for="binary-output-sign" class="mx-1 col form-text">Sign Bit</div>
                            <div for="binary-output-comb" class="mx-1 col-2 form-text">Combination Field</div>
                            <div for="binary-output-expo" class="mx-1 col-3 form-text">Exponent Continuation</div>
                            <div for="binary-output-coef" class="mx-1 col-6 form-text">Coefficient Continuation</div>
                        </div>
                    </div>
                    <input type="text" id="binary-output" hidden>
                    <button class="ms-auto clipboard-button w-25" id="binary-copy" onclick="copyToClipboard('BIN')">Copy to Clipboard</button>

                    <hr>
                    <div class="my-3">
                        <label for="hex-output"><strong>Hexadecimal Format</strong></label>
                        <div class="row px-2">
                            <input type="text" class="col form-control-lg" id="hex-output" disabled>
                        </div>
                    </div>
                    <button class="ms-auto clipboard-button w-25" id="hex-copy" onclick="copyToClipboard('HEX')">Copy to Clipboard</button>
                </div>
                
            </div>

            <footer>
                <div class="text-center">
                    <strong>CSARCH2 S13</strong>
                </div>
                <div class="text-center">
                    EDRALIN | EGUARAS | MARCELO | SY | UY | VICENTE | VISTA
                </div>
            </footer>
        </div>
    </div>
</body>

</html>