@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Source+Code+Pro:wght@400;500;600&display=swap');

body > .d-flex.flex-row.justify-content-center {
    background: linear-gradient(rgba(218,218,218,0.9), rgba(255,255,255,0.9)), url("/images/bg.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Anonymous Pro';
    font-weight: 700;
}

h4 {
    font-family: 'Source Code Pro';
    font-weight: 600;
}

label {
    font-family: 'Source Code Pro';
    font-weight: 400 !important;
}